@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input[type=text],
input[type=number] {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: 3px;
}

.result {
  padding: 10px;
  box-shadow: 0px 0px 5px #ccc;
  word-break: break-all;
}
.card {
  padding: 20px;
  max-width: 600px;
  border:1px solid #aaa;
  margin: 10px auto;
}





.d-flex {
  display: flex
}

.flex-1 {
  flex: 1
}

.item-center {
  align-items: center;
}

.spacing {
  gap: 1em
}
.border{
  border:1px solid #aaa;
  padding: 5px;
}